ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}

.social-network a.icoRss:hover {
	background-color: #F56505;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
  border-radius:50%;
  
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
  background-color: #ff7a59;
  border-style: solid; border-color: #fff;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {

/*	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;*/
}
.social-circle i {
	color: #fff;;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

/*AVATAR*/
.fakeimg {
  height: 200px;
  background: #aaa;
}
.md-avatar {
vertical-align: middle;
width: 50px;
height: 50px;
}
.md-avatar.size-1 {
width: 40px;
height: 40px;
}
.md-avatar.size-2 {
width: 70px;
height: 70px;
}
.md-avatar.size-3 {
width: 90px;
height: 90px;
}
.md-avatar.size-4 {
width: 110px;
height: 110px;
}

.button1{
  color: #fff  !important; 
  background-color:#31475b ; 
  border-color: #ff7a59 !important; 

 
}
.button2{
  color: #fff !important; 
  background-color: #ff7a59 !important; 
  border-color: #31475b !important; 
}
.button1:hover {
   color: #31475b !important;
   background-color: #fff !important; 
   }
.button2:hover {
    color: #31475b !important;
    background-color: #fff !important; 
    }
.cajanav{
color:#39475b;
padding-top: 0px;
padding-right: 1rem;
padding-bottom: 0px;
padding-left: 1rem;
}

.tituloPrincipal{

}

.aNav{
color: #39475b;
}

a#logo {
  float: left;
  /*width: 110px;
  height: 110px;*/
  display: block;
  /*margin-left: 80px;*/
}

@media (min-width:1024px){
  .navbar {
    padding-right: 7rem !important; 
    padding-left: 7rem !important; 
    padding-top: 0.3rem !important;
    padding-bottom: 0.3rem !important;
  }
  .navbar2 {
    padding-right: 7rem !important; 
    padding-left: 7rem !important; 
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
  .button{
    padding: 0.355em 2em 0.355em !important;
    text-align: center !important;
    border-radius: .1875rem !important;
    font-size: .9125rem !important;
    font-weight: 600 !important;
    box-shadow:none !important;
  }
  .card{
    border:none !important;
  }
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .navbarFirst {
    padding-right: 1rem !important; 
    padding-left: 1.5rem !important;
    display: block; 
  }
  .button{
    padding: 0.355em 1.5em 0.355em !important;
    text-align: center !important;
    border-radius: .1875rem !important;
    font-size: .9rem !important;
    font-weight: 600 !important;
    box-shadow:none !important;
  }

}